.section-two{
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}
.east-west{
    margin-top: 60px;
}
.east {
    margin-left: 120px;
    padding-right: 480px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;

    border-bottom: 3px solid #0949EF;
    text-transform: uppercase;
    color: #000000;
}

.west{
    height: 41px;
    margin-left: 130px;
    padding-right: 480px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    border-bottom: 3px solid #FB0223;
    text-transform: uppercase;
    color: #000000;
}

.east-img{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    width: 565px;
    background-color: #ffffff;
}

.east-or-west{
    display: flex;
}
.west-img{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
    width: 565px;
    background-color: #ffffff;
}

.line2{
    padding-top: 50px;
    height: 0vh;
}

.line2 span {
    padding-left: 125px;
    width: 64px;
    height: 22px;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
  }
.line2 img {
    padding-left: 6px;
  }

@media (max-width:800px){
    .section-two{
        margin-top: 30px;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        width: 250vh;
    }
    .east-west{
        margin-top: 50px;
    }
    .east {
        margin-left: 120px;
        padding-right: 480px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 41px;
        border-bottom: 3px solid #0949EF;
        text-transform: uppercase;
        color: #000000;
    }
    
    .west{
        height: 41px;
        margin-left: 130px;
        padding-right: 480px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 41px;
        border-bottom: 3px solid #FB0223;
        text-transform: uppercase;
        color: #000000;
    }
    
    .east-img{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 120px;
        width: 580px;
        background-color: #ffffff;
    }
    
    .east-or-west{
        display: flex;
    }
    .west-img{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 130px;
        width: 580px;
        background-color: #ffffff;
    }
    
    .line2{
        padding-top: 50px;
        height: 0vh;
    }
    
    .line2 span {
        padding-left: 125px;
        width: 64px;
        height: 22px;
        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        line-height: 22px;
        color: #000000;
      }
    .line2 img {
        padding-left: 6px;
      }
}