.title1{
    color: #fff;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-bottom: #fff 3px solid;
    margin-left: 120px;
    margin-right: 130px;
    padding-bottom: 10px;
}

.title2 {
    margin-top: -10px;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 82px;
    text-transform: uppercase;
    color: #FB0223;
    border-bottom: #fff 3px solid;
    margin-left: 120px;
    margin-right: 130px;      
    padding-bottom: 10px;
}

.title3{
    margin-top: -50px;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 82px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: #fff 3px solid;
    margin-left: 120px;
    margin-right: 130px;
    padding-bottom: 10px;
}

.title4{
    width: 454px;
    height: 46px;
    margin-left: 120px;
    margin-top: -44px;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ffffff;
}

@media (max-width:800px){
    .title1{
        
        margin-right: 60px;
        
    }
    
    .title2 {
        margin-right: 60px;    
    }
    
    .title3{
        margin-right: 60px;
    }
    
}