.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    background-color: #fff;
    height: 10px;
    padding: 20px 120px;
}
  
  
.icons{
    padding-left: 310px;
    padding-top: 16px;
}
  
.logo img {
    height: auto;
    width: 87px;
    
   
}
  
.icons img {
    width: 25px;
    padding-right: 10px;
}

@media (max-width:800px){
    .header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 20px;
        background-color: rgb(255, 255, 255);
        height: 10px;
        padding-top: 20px;
    }
      
    .icons{
        display: flex;
        height: 20px;
        padding-left: 350px;
        padding-top: 16px;
    }
      
    .logo img {
        height: auto;
        width: 87px;
        padding-left: 120px;
    }
      
    .icons img {
        width: 20px;
        padding-right: 18px;
    }
}
